.abc {
  text-align: center;
  background-image: linear-gradient(to bottom right, #007bff, #00bcd4);
  background-size: cover;
  background-position: center;
  max-width: 100% !important;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-container {
  background-color: #ffffff;
  margin: 12px auto;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
  width: 90%;
  max-width: 800px;
}

.upr-section {
  position: relative;
  padding: 20px;
  flex-grow: 1;
  overflow-y: auto;
}

.message-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.message-item {
  margin-bottom: 10px;
  max-width: 70%;
}

.sent {
  align-self: flex-end;
}

.message-content {
  padding: 10px 15px;
  border-radius: 20px;
  background-color: #f1f0f0;
  color: #333;
  font-size: 14px;
  line-height: 1.4;
}

.sent .message-content {
  background-color: #007bff;
  color: #fff;
}

.section-title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.bottom-section {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-input {
  flex-grow: 1;
  height: 40px;
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  margin-right: 10px;
}

.send-button {
  height: 40px;
  width: 40px;
  padding: 0;
  border-radius: 50%;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.send-button:hover {
  background-color: #0056b3;
}

.send-button svg {
  font-size: 20px;
}